<div class="alert @AlertTypeClass alert-dismissible fade show" role="alert" style="display:@(ShowAlert ? "block" : "none")">
    @Message
    <button type="button" class="btn-close" aria-label="Close" @onclick="CloseAlert"></button>
</div>

@code {
    [Parameter] public string? Message { get; set; } //Parameter: dışarıdan mesaj parametresi gecilebilmesi icin.
    [Parameter] public bool ShowAlert { get; set; }
    [Parameter] public bool IsSuccess { get; set; }
    
     // Uyarının türüne göre CSS sınıfını belirler
    private string AlertTypeClass => IsSuccess ? "alert-success" : "alert-danger";

    private void CloseAlert()
    {
        ShowAlert = false;
    }
}
