@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@inject GetContactsByUserId GetContactsByUserIdService
@inject AuthenticationHelper AuthenticationHelperService

<PageTitle>Index</PageTitle>

<div class="container mt-5">
    <h1 class="text-center">PhoneBook'a Hoş Geldiniz</h1>
    <p class="text-center">Kişisel iletişim yöneticiniz</p>

    @if (contacts == null)
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }
    else if (contacts.Count == 0)
    {
        <div class="alert alert-warning text-center" role="alert">
            Kaıytlı kişi bulunamadı.
        </div>
    }
    else
    {
        <div class="row mt-5">
            @foreach (var contact in contacts)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title"><strong>@contact.FirstName @contact.LastName</strong></h5>
                            <p class="card-text">@contact.PhoneNumber</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
@code {
    private List<Contact>? contacts;

    protected override async Task OnInitializedAsync()
    {
        // Kullanıcı ID'sini token'dan al
        var userId = await AuthenticationHelperService.GetUserIdFromTokenAsync();
        if (userId == null)
        {
            Navigation.NavigateTo("/login");
            return;
        }
        // Kullanıcının iletişim bilgilerini getir
        contacts = await GetContactsByUserIdService.GetContactsByUserIdAsync(userId.Value);
    }
}
