<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PhoneBook</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createContact">
                <span aria-hidden="true"><i style="padding-right: 7px; font-size: 25px;" class="bi bi-person-add"></i></span> Kişi Ekle
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="updateContact">
                <span aria-hidden="true"><i style="padding-right: 7px; font-size: 25px;" class="bi bi-person-fill-up"></i></span> Kişi Güncelle
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deleteContact">
                <span aria-hidden="true"><i style="padding-right: 7px; font-size: 25px;" class="bi bi-person-x"></i></span> Kişi Sil
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
